<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profil utilizator</title>
  <link rel="stylesheet" href="/css/profile.css" />
</head>
<body>
<div class="navbar">
  <div class="navbar-left">
    <button id="goToHome">ASII</button>
  </div>
  <div class="navbar-right">
    <a href="#">Departamente</a>
    <a href="#">Resurse</a>
    <a href="#">AG-uri</a>
    <div class="user-menu-wrapper">
      <button class="btn" id="profileBtn">Profil</button>
      <div class="user-dropdown" id="profileDropdown">
        <button id="goToProfile">Profil</button>
        <a href="/loginPage">Logout</a>
      </div>
    </div>
  </div>
</div>

<main class="profile-container">
  <section class="user-info">
    <h1>[NUME]</h1>
    <p class="departament">(departamente)</p>
    <p>tip membru: [vedem]</p>
    <p>drept de vot: [da/nu]</p>
    <p>ore de activitate: [nr ore]</p>

    <form class="profile-form">
      <div class="form-group">
        <div>
          <label>First name</label>
          <input type="text" placeholder="Jane" />
        </div>
        <div>
          <label>Last name</label>
          <input type="text" placeholder="Smitherton" />
        </div>
      </div>
      <label>Email address</label>
      <input type="email" placeholder="email@domain.com" />
      <label>Adresa</label>
      <input type="text" placeholder="Enter your address" />
      <button type="submit" class="btn">salveaza</button>
    </form>
  </section>

</main>
<script src="/js/profile.js"></script>
</body>
</html>
