<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASII MEMBERS</title>
    <link rel="stylesheet" href="/css/department.css" />

</head>
<body>

<header>
    <a href="/home" class="logo">ASII</a>
    <nav class="nav-links">
        <a href="/departments">Departamente</a>
        <a href="/all-members">Members</a>
        <a href="/resources">Resurse</a>
        <a href="/profile">Profil</a>
    </nav>
</header>

<main>
    <section class="container">
        <div class="image-section">
            <img src="/photos/logo-asii.png" alt="ASII">
        </div>
        <div class="content-section">
            <h1>ASII MEMBERS</h1>
            <p>Din copou si pana in vale ASII este cel mai tare</p>
            <div class="info">
                <strong>membrii: [nr membri]</strong>
                <p>presedinte: [nume]<br>
                    vice: [nume]<br>
                    sg: [nume]</p>
            </div>
        </div>
        <div id="departments-container" class="departments-grid"></div>
    </section>
</main>
<script src="/js/department.js"></script>
</body>
</html>

