<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASII MEMBERS</title>
    <link rel="stylesheet" href="/css/department.css" />
</head>
<body>

<header>
    <a href="/home" class="logo">ASII</a>
    <nav class="nav-links">
        <a href="/departments">Departamente</a>
        <a href="/all-members">Members</a>
        <a href="/resources">Resurse</a>
        <div class="user-menu-wrapper">
            <button class="btn" id="profileBtn">Profil</button>
            <div class="user-dropdown" id="profileDropdown">
                <button id="goToProfile">Profil</button>
                <button id="logoutBtn">Logout</button>
            </div>
        </div>
    </nav>
</header>

<main>
    <section class="container">
        <div class="image-section">
            <img src="/photos/logo-asii.png" alt="ASII">
        </div>
        <div class="content-section">
            <h1>ASII MEMBERS</h1>
            <p>Din copou si pana in vale ASII este cel mai tare</p>
            <div class="info">
                <strong>membrii: <span id="nr-membri">...</span></strong>
                <p>presedinte: Matei Ciobanu<br>
                    vice: Timotei Gruia<br>
                    sg: Petrescu Eden</p>
            </div>
        </div>
        <div id="departments-container" class="departments-grid"></div>
    </section>
</main>
<script src="/js/department.js"></script>
</body>
</html>